div.menuAdmin{
    background-color:black;
    width:400px;
    height:600px;
    position:absolute;
    top:20%;
    left:35%;
    border-radius:10px;
}
div.TituloMenu{
   width:400px;
    height:26px;
 

    }

div.TituloMenu h1{
    color:white;
     font-size:28px;
    text-align:center;
}
div.lineaMenu{
    background-color:rgba(13, 51, 54, 1);
    width:400px;
    height:4px;
    position:relative;
    top:15px;

}
div.formAdmin{

    width:350px;
    height:520px;
    position:relative;
    top:23px;
    left:25px;
}

