@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

body{
    margin-left: 80px;
    margin-top: 80px;
    transition: margin-left 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.Alumno{
    width: 500px;
    height: 500px;
}
.previewcntrform{
      
background-color: #21c5c7;
      
position: relative;
      
border: 2px solid black;
      
border-radius: 20px;
      
width: 250px;
      
height: 100px;
      
left: 12%;
      
bottom: 486px;
      
margin-right: 20px;
}

.previewcntrform h2{
    top: -5%;
    left: 5%;
    position: absolute;
    text-align: center;
}

.tipos{
    position: relative;
    background-color: #FFFFFF;
    border: 3px solid black;
    border-radius: 30px;
    width: 107px;
    height: 32px;
    top: 5px;
    justify-content: center;
    font-weight: bold;
}

.tipo{
    position: relative;
    left:8px;
}

.nota{
    position: relative;
    left: 18px;
}

.formulario{
    position: relative;
    top: 7px;
}

.formtipo{
    position: relative;
    left: 10px;
}

.formnota{
    width: 40px;
    text-align: center;
    border-radius: 10px;
}

.divnota{
    position: relative;
    left: 62px;
    top: -20px;
}

.campo{
    position: relative;
    top: 10px;
    left: 11px;
    width: 113px;
    height: 70px;
}

.btnguardar{
    position: relative;
    background-color: #FFFFFF;
    border: 3px solid black;
    border-radius: 30px;
    width: 80px;
    height: 71px;
    top: -83px;
    left: 134px;
}

.txttipodenota{
    position: relative;
    width: 30px;
    top: -3px;
    left: 26px;
}

.notasform{
    display: inline-block;
    position: absolute;
    border: 4px solid black;
    border-radius: 20px; 
    width: 240px;
    height: 600px;
    left: 500px;
    margin-right: 20px;
}

.tipos1{
    position: relative;
    background-color: #d1d1d1;
    border: 3px solid black;
    border-radius: 20px;
    width: 232px;
    height: 32px;
    left: -11px;
    top: -10px;
    text-align: center;
    font-weight: bold;
}

.campo1{
    position: relative;
    top: 10px;
    left: 11px;
    width: 209px;
    height: 70px;
}

.tipo1{
    position: relative;
    left:10px;
}

.fecha{
    position: relative;
}

.txttipodenota1{
    position: relative;
    width: 30px;
    top: -10px;
    left: 26px;
}

.txtfecha{
    position: relative;
    top: -33px;
    left: 93px;
}

.txtnota{
    position: relative;
    left: 170px;
    top: -55px;
}

.filas{
    position: relative;
    height:30px;
    top: 0px;
}

.filas1{
    position: relative;
    height:30px;
    top: 10px;
}

.filas2{
    position: relative;
    height:30px;
    top: 20px;
}

.filas3{
    position: relative;
    height:30px;
    top: 30px;
}

.filas4{
    position: relative;
    height:30px;
    top: 40px;
}

.filas5{
    position: relative;
    height:30px;
    top: 50px;
}

.txttiposde{
    top: -30px;
    left: 14px;
    position: relative;
    font-weight: bold;
}

.tipo1{
    position: relative;
    left:10px;
}

.nota1{
    position: relative;
    left: 56px;
}

.fecha1{
    position: relative;
    left: 38px;
}