div.btn{
    background-color:#2E3332;
    width:400px;
    height:80px;
    border-radius:15px;
}

div.btn h1{
    color:white;
    font-size:28px;
    text-align:center;
    font-family: 'Poppins', sans-serif;
}

div.cont {
    position: absolute;
    align-items: center;
    top:40%;
    right: 30%;
    width:420px;
    height:390px;
}
